In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("lab03.ipynb")

<table style="width: 100%;" id="nb-header">
    <tr style="background-color: transparent;"><td>
        <img src="https://data-88e.github.io/assets/images/blue_text.png" width="250px" style="margin-left: 0;" />
    </td><td>
        <p style="text-align: right; font-size: 10pt;"><strong>Economic Models</strong>, Fall 2023<br>
            Dr. Eric Van Dusen <br>
        Alan Liang <br>
        Umar Maniku <br>
        Akhil Venkatesh <br>
</table>

<!-- BEGIN QUESTION -->

# Lab 3: Taxes, Government Intervention, and Welfare

<!-- END QUESTION -->

In [2]:
from datascience import *
import numpy as np
import matplotlib.pyplot as plt
import sympy
solve = lambda x,y: sympy.solve(x-y)[0] if len(sympy.solve(x-y))==1 else "Not Single Solution"
%matplotlib inline

## Question 1: Beer Taxes: An Empirical Study

Many states in the United States impose an excise and an ad valorem tax on the consumption of beer. According to the Beer Institute, ‚Äútaxes are the single most expensive ingredient in beer, costing more than the labor and raw materials combined.‚Äù In fact, approximately 40 percent of the retail price of beer is dedicated toward covering all the applicable taxes. 

Throughout this exercise, you will investigate how salient consumers are to changes in taxes on beer. Typically, the ad valorem tax on beer is not reflected in the label price, like typical sales taxes in the US. However, the excise tax is included in the label price. 

This study on consumer salience towards taxes is taken from [_Salience and Taxation: Theory and Evidence_](https://www.aeaweb.org/articles?id=10.1257/aer.99.4.1145) by Chetty, Looney, and Kroft (AER 2010).

**Question 1.1:**
In the paper *Salience and Taxation: Theory and Evidence*, the authors also investigate consumer salience towards taxes through a field experiment by posting tax-inclusive price tags, and find that doing so reduces demand by 8 percent. What does this imply about consumer salience in relation to the decrease in demand?

a. Including the tax in the price tag does not change the actual price of the good, but only the label price. Since demand decreases when including the tax in the price, we can conclude that not all consumers are aware of the tax.
<br>
b. Including the tax in the price tag does not change the actual price of the good, but only the label price. Since demand increases when including the tax in the price, we can conclude that not all consumers are aware of the tax.
<br>
c. Including the tax in the price tag changes the actual price of the good. Since demand decreases when including the tax in the price, we can conclude that all consumers are aware of the tax.
<br>
d. Including the tax in the price tag changes the actual price of the good, but only the signaling price. Since demand increases when including the tax in the price, we can conclude that not all consumers are aware of the tax.

In [3]:
q1_1 = 'a'

In [4]:
grader.check("q1_1")

q1_1 results: All test cases passed!

Let's load in a table about beer sales across the 50 states from 1970 to 2003.

The table `beer_raw` includes 7 columns:
- `st_name`: the state abbreviation
- `year`: the year the data was recorded
- `c_beer`: the quantity of beer consumed in gallons (in thousands of gallons)
- `beer_tax`: the ad valorem tax as a percentage
- `btax_dollars`: the excise tax, represented in dollars per case of beer (24 cans)
- `population`: the population of the state (in thousands)
- `salestax`: the sales tax percentage

In [5]:
beer_raw = Table.read_table("beer_tax.csv")
beer_raw

st_name | year | c_beer | beer_tax | btax_dollars | population | salestax
AL      | 1970 | 33098  | 72.3411  | 2.37         | 3450       | 4
AL      | 1971 | 37598  | 69.3046  | 2.37         | 3497       | 4
AL      | 1972 | 42719  | 67.1492  | 2.37         | 3539       | 4
AL      | 1973 | 46203  | 63.217   | 2.37         | 3580       | 4
AL      | 1974 | 49769  | 56.9338  | 2.37         | 3627       | 4
AL      | 1975 | 53236  | 52.1717  | 2.37         | 3679       | 4
AL      | 1976 | 54992  | 49.3293  | 2.37         | 3735       | 4
AL      | 1977 | 62317  | 46.3174  | 2.37         | 3780       | 4
AL      | 1978 | 62725  | 43.0496  | 2.37         | 3832       | 4
AL      | 1979 | 63999  | 38.6617  | 2.37         | 3866       | 4
... (1698 rows omitted)

**Question 1.2:**
Consumption across states vary widely due to differences in population. Let's normalize this by adding a column called `pc_beer`, representing the per capita (per person) consumption of beer in each year for each state, to `beer_raw`. Call the resulting table `beer`.

In [6]:
pc_beer_column = beer_raw.column('c_beer') / beer_raw.column('population')
beer = beer_raw.with_column('pc_beer', pc_beer_column)
beer

st_name | year | c_beer | beer_tax | btax_dollars | population | salestax | pc_beer
AL      | 1970 | 33098  | 72.3411  | 2.37         | 3450       | 4        | 9.59362
AL      | 1971 | 37598  | 69.3046  | 2.37         | 3497       | 4        | 10.7515
AL      | 1972 | 42719  | 67.1492  | 2.37         | 3539       | 4        | 12.0709
AL      | 1973 | 46203  | 63.217   | 2.37         | 3580       | 4        | 12.9059
AL      | 1974 | 49769  | 56.9338  | 2.37         | 3627       | 4        | 13.7218
AL      | 1975 | 53236  | 52.1717  | 2.37         | 3679       | 4        | 14.4702
AL      | 1976 | 54992  | 49.3293  | 2.37         | 3735       | 4        | 14.7234
AL      | 1977 | 62317  | 46.3174  | 2.37         | 3780       | 4        | 16.486
AL      | 1978 | 62725  | 43.0496  | 2.37         | 3832       | 4        | 16.3687
AL      | 1979 | 63999  | 38.6617  | 2.37         | 3866       | 4        | 16.5543
... (1698 rows omitted)

In [7]:
grader.check("q1_2")

q1_2 results: All test cases passed!

**Question 1.3:**
For the rest of this question, we will restrict our analysis to only one state - California. Assign `beer_state` to a filtered table with only data describing California.

In [8]:
beer_state = beer.where('st_name', 'CA')
beer_state

st_name | year | c_beer | beer_tax | btax_dollars | population | salestax | pc_beer
CA      | 1970 | 363645 | 2.74713  | 0.09         | 20023      | 5        | 18.1614
CA      | 1971 | 380397 | 2.63182  | 0.09         | 20346      | 5        | 18.6964
CA      | 1972 | 401928 | 2.54997  | 0.09         | 20585      | 5        | 19.5253
CA      | 1973 | 417463 | 2.40065  | 0.09         | 20869      | 5.167    | 20.004
CA      | 1974 | 464237 | 2.16204  | 0.09         | 21174      | 5.25     | 21.9249
CA      | 1975 | 466420 | 1.9812   | 0.09         | 21538      | 6        | 21.6557
CA      | 1976 | 496869 | 1.87326  | 0.09         | 21936      | 6        | 22.6508
CA      | 1977 | 503361 | 1.75889  | 0.09         | 22352      | 6        | 22.5197
CA      | 1978 | 533487 | 1.6348   | 0.09         | 22836      | 6        | 23.3617
CA      | 1979 | 572605 | 1.46816  | 0.09         | 23257      | 6        | 24.6208
... (24 rows omitted)

In [9]:
grader.check("q1_3")

q1_3 results: All test cases passed!

**Question 1.4:**
To determine consumers' sensitivity to a change in taxes, we need to determine the changes in ad valorem taxes between each year and the corresponding change in the per capita beer consumption. Construct a new table `beer_state_changes` with these  2 columns: `tax_diff` and `consumption_diff`.

_Hint:_ Use `np.diff`.

In [ ]:
tax_diff = ...
per_capita_consumption_diff = ...
beer_state_changes = ...
beer_state_changes

In [ ]:
grader.check("q1_4")

**Question 1.5:**
Now we are ready to plot our results. What kind of graph will be most appropriate to denote the relationship between changes in taxes and changes in consumption?

<ol style="list-style-type: lower-alpha;">
    <li>Line plot</li>
    <li>Histogram</li>
    <li>Scatter plot</li>
    <li>Bar chart</li>
</ol>

Assign `q5` to letter corresponding to your choice.

In [ ]:
q1_5 = ...

In [ ]:
grader.check("q1_5")

<!-- BEGIN QUESTION -->

**Question 1.6.1:**
Plot the results from `beer_state_changes` using a scatter plot.

In [ ]:
...

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 1.6.2:**
What is the relationship between changes in taxes and changes in per capita beer consumption?

_Type your answer here, replacing this text._

<!-- END QUESTION -->



We will conduct a linear regression to determine the slope and intercept.

In [ ]:
beer_state_changes.scatter(0, 1, fit_line=True)

What are the values of the intercept and slope terms? 

To answer this, we can use `np.polyfit` with degree 1, which returns the slope and intercept terms in that order.

In [ ]:
np.polyfit(x = beer_state_changes.column("tax_diff"), y=beer_state_changes.column("consumption_diff"), deg=1)

<!-- BEGIN QUESTION -->

**Question 1.7:**
Interpret the slope and intercept values from the previous part in context of this dataset.

_Type your answer here, replacing this text._

<!-- END QUESTION -->

Now let's see if the phenomenon applies to all states, across all years.

In [ ]:
# You do not have to understand how the code below works, but it works very similarly to what you've done above!
import pandas as pd
data = pd.read_stata("alcohol_data.dta")
data = data[["st_name", "year", "c_beer", "population", "beer_tax", "salestax"]]
data['beer_pc'] = data.c_beer / data.population
data = data.dropna(axis = 0)
def state_group(df):
    tax_diff = np.diff(df["beer_tax"])
    cons_diff = np.diff(df["beer_pc"])
    return pd.DataFrame({"tax_diff": tax_diff, "cons_diff": cons_diff})
differences = data.groupby("st_name").apply(state_group)
diff = Table.from_df(differences)
diff.scatter(0, 1)

The data seems to be a little messy, but a downward sloping trend seems to appear. Nonetheless, let's try to clean it up a little. 

We will aggregate the data based on state so that each state will be one data point. Each point represents a state's average change in taxes and consumption across the years.

In [ ]:
# You also do not have to understand how the code below works.
def state_group(df):
    tax_diff = np.mean(np.diff(df["beer_tax"]))
    cons_diff = np.mean(np.diff(df["beer_pc"]))
    return pd.DataFrame({"tax_diff": tax_diff, "cons_diff": cons_diff}, index=[0])
differences = data.groupby("st_name").apply(state_group)
diff = Table.from_df(differences)
diff.scatter(0, 1)

<!-- BEGIN QUESTION -->

**Question 1.8:**
Which graph better represents the relationship between changes in taxes and beer consumption? Why? Note that there is no 'correct' solution here, we just expect you to reasonably justify your choice.

_Type your answer here, replacing this text._

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Qustion 1.9:**
Up until now, we've been examining the effect of changes in the ad valorem tax on beer consumption. But what about the excise tax? Unlike ad valorem taxes, an excise tax is included as part of the label price.

Intuitively, do you expect consumers be more elastic towards changes in the ad valorem tax or excise tax? Why?

_Type your answer here, replacing this text._

<!-- END QUESTION -->

Let's put this theory to the test. Each row in the table `excise_changes` displays an event in which there was a change in the excise tax, and its corresponding change in beer consumption. For example, from the table we can see that Arkansas has historically changed its beer excise tax three times.

In [ ]:
# You do not need to understand how this code works.
excise_changes = pd.DataFrame({"st_name":[], "excise_tax_change":[], "c_beer_change":[]})
beer_df = beer.to_df()
for row_index in range(beer_df.shape[0]):
    if row_index == 0:
        continue
    if beer_df.iloc[row_index, 4] != beer_df.iloc[row_index-1, 4] and beer_df.iloc[row_index, 0] == beer_df.iloc[row_index-1, 0]:
        excise_changes = pd.concat([excise_changes, pd.DataFrame({"st_name": beer_df.iloc[row_index, 0], 
                                                "excise_tax_change": beer_df.iloc[row_index, 4] - beer_df.iloc[row_index-1, 4],
                                                "c_beer_change": beer_df.iloc[row_index, 7] - beer_df.iloc[row_index-1, 7]}, index=[row_index])], ignore_index=True)
excise_changes = Table.from_df(excise_changes[["st_name", "excise_tax_change", "c_beer_change"]])
excise_changes

In [ ]:
excise_changes.scatter(1,2,fit_line=True)

**Question 1.10.1:**
Using `np.polyfit`, determine the slope and intercept terms for this regression on the table `excise_changes`.

Recall that `np.polyfit` follows the syntax: `np.polyfit(<x array>, <y array>, <degree>)`.

In [ ]:
coeffs = ...
coeffs

In [ ]:
grader.check("q1_10_1")

<!-- BEGIN QUESTION -->

**Question 1.10.2:**
Interpret the results above from `np.polyfit`.

*Hint:* Be aware of the units of the excise tax!

_Type your answer here, replacing this text._

<!-- END QUESTION -->

## Question 2: Tax Equilibria with SymPy

*From Gruber, Ch.19, Q.4*

The demand for football tickets is $Q = 360 ‚àí 10P$ and the supply of football tickets is $Q = 20P$.

**Question 2.1:**
Calculate the quantity and price at the equilibrium. Assign these values to `quantity_no_tax` and `price_no_tax`, respectively.

In [ ]:
P = sympy.Symbol("P")
supply = ...
demand = ...
price_no_tax = ...
quantity_no_tax = ...
print("The equilibrium price is", price_no_tax, "; the equilibrium quantity is", quantity_no_tax)

In [ ]:
grader.check("q2_1")

**Question 2.2:**
Assume that the government implements a per-ticket tax of $4 when consumers purchase a ticket. What is the new price received by producers and price paid by consumers?

In [ ]:
demand_with_tax = ...
price_received_with_tax = ...
price_paid_demand_with_tax = ...
print("The new price received by producers is", price_received_with_tax, 
      "; the new price paid by consumers is", price_paid_demand_with_tax)

In [ ]:
grader.check("q2_2")

<!-- BEGIN QUESTION -->

**Question 2.3:**
Who bears a larger burden of the tax? Why?

_Type your answer here, replacing this text._

<!-- END QUESTION -->

**Question 2.4:**
Continue to assume that the government implements a per-ticket tax of \$4. How many less tickets are sold due to the tax?

In [ ]:
quantity_with_tax = ...
difference_in_quantity = ...
print("The difference in quantity transacted is", difference_in_quantity)

In [ ]:
grader.check("q2_4")

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [10]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False, run_tests=True)

Running your submission against local test cases...



Your submission received the following results when run against available test cases:

    q1_1 results: All test cases passed!

    q1_2 results: All test cases passed!

    q1_3 results: All test cases passed!

    q1_4 results:
        q1_4 - 1 result:
            ‚ùå Test case failed
            Trying:
                len(beer_state_changes) == 2
            Expecting:
                True
            **********************************************************************
            Line 1, in q1_4 0
            Failed example:
                len(beer_state_changes) == 2
            Exception raised:
                Traceback (most recent call last):
                  File "/opt/conda/lib/python3.9/doctest.py", line 1334, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q1_4 0[0]>", line 1, in <module>
                    len(beer_state_changes) == 2
                TypeError: object of type 'ellipsis' has no len()

        q1_4 - 2 result:
            ‚ùå Test case failed
            Trying:
                beer_state_changes.num_rows == 33
            Expecting:
                True
            **********************************************************************
            Line 1, in q1_4 1
            Failed example:
                beer_state_changes.num_rows == 33
            Exception raised:
                Traceback (most recent call last):
                  File "/opt/conda/lib/python3.9/doctest.py", line 1334, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q1_4 1[0]>", line 1, in <module>
                    beer_state_changes.num_rows == 33
                AttributeError: 'ellipsis' object has no attribute 'num_rows'

        q1_4 - 3 result:
            ‚ùå Test case failed
            Trying:
                for l in ["tax_diff", "consumption_diff"]:
                    assert l in beer_state_changes.labels
            Expecting nothing
            **********************************************************************
            Line 1, in q1_4 2
            Failed example:
                for l in ["tax_diff", "consumption_diff"]:
                    assert l in beer_state_changes.labels
            Exception raised:
                Traceback (most recent call last):
                  File "/opt/conda/lib/python3.9/doctest.py", line 1334, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q1_4 2[0]>", line 2, in <module>
                    assert l in beer_state_changes.labels
                AttributeError: 'ellipsis' object has no attribute 'labels'

    q1_5 results:
        q1_5 - 1 result:
            ‚ùå Test case failed
            Trying:
                q1_5 in ["a", "b", "c", "d"]
            Expecting:
                True
            **********************************************************************
            Line 1, in q1_5 0
            Failed example:
                q1_5 in ["a", "b", "c", "d"]
            Expected:
                True
            Got:
                False

    q1_10_1 results:
        q1_10_1 - 1 result:
            ‚ùå Test case failed
            Trying:
                len(coeffs) == 2
            Expecting:
                True
            **********************************************************************
            Line 1, in q1_10_1 0
            Failed example:
                len(coeffs) == 2
            Exception raised:
                Traceback (most recent call last):
                  File "/opt/conda/lib/python3.9/doctest.py", line 1334, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q1_10_1 0[0]>", line 1, in <module>
                    len(coeffs) == 2
                TypeError: object of type 'ellipsis' has no len()

        q1_10_1 - 2 result:
            ‚ùå Test case failed
            Trying:
                -5 <= coeffs[0] <= 0
            Expecting:
                True
            **********************************************************************
            Line 1, in q1_10_1 1
            Failed example:
                -5 <= coeffs[0] <= 0
            Exception raised:
                Traceback (most recent call last):
                  File "/opt/conda/lib/python3.9/doctest.py", line 1334, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q1_10_1 1[0]>", line 1, in <module>
                    -5 <= coeffs[0] <= 0
                TypeError: 'ellipsis' object is not subscriptable

        q1_10_1 - 3 result:
            ‚ùå Test case failed
            Trying:
                0 <= coeffs[1] <= 1
            Expecting:
                True
            **********************************************************************
            Line 1, in q1_10_1 2
            Failed example:
                0 <= coeffs[1] <= 1
            Exception raised:
                Traceback (most recent call last):
                  File "/opt/conda/lib/python3.9/doctest.py", line 1334, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q1_10_1 2[0]>", line 1, in <module>
                    0 <= coeffs[1] <= 1
                TypeError: 'ellipsis' object is not subscriptable

    q2_1 results:
        q2_1 - 1 result:
            ‚ùå Test case failed
            Trying:
                5 <= price_no_tax <= 15
            Expecting:
                True
            **********************************************************************
            Line 1, in q2_1 0
            Failed example:
                5 <= price_no_tax <= 15
            Exception raised:
                Traceback (most recent call last):
                  File "/opt/conda/lib/python3.9/doctest.py", line 1334, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q2_1 0[0]>", line 1, in <module>
                    5 <= price_no_tax <= 15
                TypeError: '<=' not supported between instances of 'int' and 'ellipsis'

        q2_1 - 2 result:
            ‚ùå Test case failed
            Trying:
                200 <= quantity_no_tax <= 250
            Expecting:
                True
            **********************************************************************
            Line 1, in q2_1 1
            Failed example:
                200 <= quantity_no_tax <= 250
            Exception raised:
                Traceback (most recent call last):
                  File "/opt/conda/lib/python3.9/doctest.py", line 1334, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q2_1 1[0]>", line 1, in <module>
                    200 <= quantity_no_tax <= 250
                TypeError: '<=' not supported between instances of 'int' and 'ellipsis'

    q2_2 results:
        q2_2 - 1 result:
            ‚ùå Test case failed
            Trying:
                10 <= price_received_with_tax <= 15
            Expecting:
                True
            **********************************************************************
            Line 1, in q2_2 0
            Failed example:
                10 <= price_received_with_tax <= 15
            Exception raised:
                Traceback (most recent call last):
                  File "/opt/conda/lib/python3.9/doctest.py", line 1334, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q2_2 0[0]>", line 1, in <module>
                    10 <= price_received_with_tax <= 15
                TypeError: '<=' not supported between instances of 'int' and 'ellipsis'

        q2_2 - 2 result:
            ‚ùå Test case failed
            Trying:
                10 <= price_paid_demand_with_tax <= 15
            Expecting:
                True
            **********************************************************************
            Line 1, in q2_2 1
            Failed example:
                10 <= price_paid_demand_with_tax <= 15
            Exception raised:
                Traceback (most recent call last):
                  File "/opt/conda/lib/python3.9/doctest.py", line 1334, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q2_2 1[0]>", line 1, in <module>
                    10 <= price_paid_demand_with_tax <= 15
                TypeError: '<=' not supported between instances of 'int' and 'ellipsis'

    q2_4 results:
        q2_4 - 1 result:
            ‚ùå Test case failed
            Trying:
                25 <= difference_in_quantity <= 30
            Expecting:
                True
            **********************************************************************
            Line 1, in q2_4 0
            Failed example:
                25 <= difference_in_quantity <= 30
            Exception raised:
                Traceback (most recent call last):
                  File "/opt/conda/lib/python3.9/doctest.py", line 1334, in __run
                    exec(compile(example.source, filename, "single",
                  File "<doctest q2_4 0[0]>", line 1, in <module>
                    25 <= difference_in_quantity <= 30
                TypeError: '<=' not supported between instances of 'int' and 'ellipsis'